// Font Styling

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
$fontFamily: 'Roboto', sans-serif;
$fontSizeSm: 15px;
$fontSizeLg: 18px;

// Light Colors

$backgroundColor: #ffffff;
$textColor: #5f6368;
$iconColor: #5f6368;
$searchBarColor: #f1f3f4;
$boxShadowColor: #eaeaea;
$cardIconColor: #767676;
$cardIconColor2: #4a4a4a;

// Dark Colors

$backgroundColorDark: #202124;
$textColorDark: #e2e2e3;
$iconColorDark: #98989a;
$searchBarColorDark: #ffffff;

// Breakpoints

$md: 604px;
$lg: 796px;

// Mixins

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}