@import '../../styles/variables.scss';

.input_card {
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    width: 85%;
    position: fixed;
    right: 2%;
    top: 15%;

    .card {

        .input_div1 {
            height: 44px;
            margin-bottom: 10px;
            
            input {
                position: relative;
                width: 100%;
                border: none;
                border-radius: 8px;
                padding: 15px 13px;
                z-index: 1;
    
                &::placeholder {
                    color: $cardIconColor2;
                    font-size: $fontSizeSm;
                }
            }
    
            .icon {
                position: relative;
                bottom: 35px;
                left: 85%;
                z-index: 2;
                height: 20px;
                margin: 0 8px;
                width: 32px;
            
                &:hover {
                    border: none;
                    background-color: $searchBarColor;
                    border-radius: 80%;
                    padding: 5px 5px;
                }
            }
        }
    
        .input_div2 {
            height: 44px;
    
            input {
                position: relative;
                width: 100%;
                border: none;
                border-radius: 8px;
                padding: 15px 13px;
                z-index: 1;
    
                &::placeholder {
                    color: $cardIconColor2;
                    font-family: $fontFamily;
                }
            }
    
            .icons {
                width: 125px;
                bottom: 35px;
                right: -60%;
                position: relative;
                z-index: 2;
                color: $cardIconColor;
                @include flexCenter(row);
                justify-content: space-between;
        
                .icon {
                    height: 20px;
                    margin: 0 8px;
                    width: 32px;
                    
                    &:hover {
                        border: none;
                        background-color: $searchBarColor;
                        border-radius: 80%;
                        padding: 1px;
                    }
                }
            }
        }
    
        .icon__list {
            position: relative;
            padding: 25px 0px;
            width: 100%;
            height: 20px;
            color: $cardIconColor2;
            @include flexCenter(row);
            justify-content: space-between;
            
            .icon_row {
                width: 70%;
                @include flexCenter(row);
                justify-content: space-between;

                .icon {
                    height: 20px;
                    margin: 0 8px;
                    width: 32px;
                    
                    &:hover {
                        border: none;
                        background-color: $searchBarColor;
                        border-radius: 80%;
                        padding: 1px;
                    }
                }
            }
    
            button {
                margin-right: 20px;
                border: none;
                background-color: $backgroundColor;
                padding: 8px 20px;
    
                &:hover {
                    border-radius: 8px;
                    border: none;
                    background-color: $searchBarColor;
                }
            }
        }
    }
}

.menu {
    position: fixed;
    top: 17rem;
    left: 18%;
    width: 150px;
    background-color: $backgroundColor;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 8px;
    transition: 2s ease-out;
    z-index: 3;

    ul {
        width: 100%;
        padding: 5px 0px;

        li {
            $fontFamily: 'Roboto', sans-serif;
            list-style-type: none;
            padding: 10px;

            &:hover {
                border: none;
                background-color: $searchBarColor;
            }
        }
    }
}

/********************** Media Queries ***************************/

@media (min-width: $md) {
    .input_card {
        right: 5%;

       .card {
            .input_div2 {
        
                .icons {
                    right: -70%;
                    width: 150px;
                    justify-content: space-between;
                }
            }
        } 
    }

    .menu {
        top: 30%;
        left: 30%;
    }
}

@media (min-width: $lg) {
    .input_card {
        width: 55%;
        right: 20%;
    }

    .menu {
        top: 38%;
        left: 36%;
    }
}