@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
.container{
display: flex;
justify-content: center;
align-items: center;
height: 100px;
font-family: 'Roboto Slab', serif;
}

.searchInput{
height: 50px;
width: 70%;
border-radius: 10px;
font-size: 17px;
padding-left: 10px;
color: gray;
border: 1px solid gray;
}

.container input{
    outline: none;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    background: #fff;
}